
.head_container{
    background-image: url(../images/bankimage.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
  }
  .pay{
    display: flex;
    gap: 100px;
    margin-right: 70px;
    font-size: larger;
    padding: 30px;
    background-color: #a86565;
  }
  nav{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    padding: 30px;
    /* background-color: aqua; */
    
  }
  nav ul {
    list-style: none;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(231, 245, 33);
}
h1{
color: rgb(15, 239, 247);
background-color: rgb(64, 25, 238);
}
.bigbox:hover{
    background-color: aliceblue;
  }
  .nav{
    background-color: blanchedalmond; 
    margin-bottom: 50px;
    gap: 70px;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;  
   justify-content: space-between;
   flex-direction: row;
   /* background-color: aliceblue; */
   padding-bottom: 100px;
   list-style: none;
   border: 2px solid #ddd;
      border-radius: 10px;
}
.nav ul li a{
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: start;
    margin-left: 70px;
}
.containerone{
  text-align: center;
}
.all{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    gap: 80px;
    border: 2px solid #8c2ce6;
      border-radius: 10px;
}
.images{
    height: 200px;
}
.center{
    margin-left: 600px;
    border: 2px solid #ddd;
      border-radius: 10px; 
      animation: float 10s infinite alternate;
          
}

.conta{
    background-color: rgb(150, 63, 231);
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
}
.rate{
  display: flex;
  gap: 60px;

}
.info{
  text-align: center;
}
.vice{
  display: flex;
  flex-direction: column;

}
h3{
  background-color: rgb(150, 63, 231);
  text-align: center;
  padding-top: 10px;
}
.her{
  width: 40%;
  text-align: justify;
  font-size: larger;
  font-style: italic;
  margin-bottom: -20px;

} 
.her p{
  margin-top: 70px;
  letter-spacing: 2px;
}
.lon{
  width: 25%;
}
.lon img{
  width: 100%;
}
.are{
  background-color: rgb(35, 231, 28);
  text-align: center;
  margin-bottom: 50px;
}